*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board {
    width: 604px;
    height: 604px;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
    margin-bottom: 0;
    border: 2px solid grey;
    position: relative;
}

.board__item {
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    cursor: pointer;
}

.squre {
    width: 60px;
    height: 60px;
}

.board__message {
    width: 600px;
    height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(245, 205, 205,.78);
}

.board-message__title {
    font-size: 48px;
    color: #fff;
}

.click-amount {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 90px;
    font-size: 40px;
}