*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    width: 800px;
    height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
    background: lightblue;
}

.slider_indent {
    margin: 50px auto;
}

.slider__card {
  display: flex;
  position: absolute;
  left: 0;
  transition: .4s linear;
}

.slider__link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.slider__link {
  top: calc(50% - 25px);
}
  
.slider__link {
  width: 50px;
  height: 50px;
}
  
.slider_prev {
  left: 2%;
}
  
.slider_next {
  right: 2%;
}

.fa.fa-arrow-circle-left,
.fa.fa-arrow-circle-right { 
  font-size: 50px;
  color: #fff;
  opacity: .7;
  transition: .6 linear;
}

.fa.fa-arrow-circle-left:hover,
.fa.fa-arrow-circle-right:hover { 
  opacity: 1;
}